* {
    margin: 0px;
    padding: 0px;
    font-family: var(--primary-font-family);
}

:root {
    --primary-font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    --secondary-font-family: Verdana, Geneva, Tahoma, sans-serif;
    --primary-color: rgb(255, 255, 255);
    --secondary-color: rgb(255, 201, 100);
    --third-color: red;
    --primary-background: linear-gradient(194deg, rgba(2, 0, 36, 1) 0%, rgba(169, 169, 180, 1) 0%, rgba(11, 11, 15, 1) 58%);
}

section {
    min-height: 100vh;
    padding: 20px;
}

header {
    background: rgb(2, 0, 36);
    background: var(--primary-background);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

header nav ul {
    display: flex;
    gap: 15px;
}

header nav ul li {
    list-style: none;
}

header nav ul li a {
    text-decoration: none;
    color: var(--primary-color);
    font-size: 20px;
}

header img {
    height: 100px;
    width: 120px;
}

h1,
h2 {
    font-family: var(--secondary-font-family);
    font-style: italic;
    color: var(--secondary-color);
}

h1 {
    font-size: 60px;
    text-align: left;
}

h2,
footer .footer-title {
    font-size: 40px;
}
/* #banner .profile-title{
  
} */

#banner,#card, #products, #contact{
    min-height: 100vh;
    padding: 20px;
}

#banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
       background-image: url(../assets/img/fondo3.jpg);
    background-size: cover;
}

#banner .profile {
    width: 70%;
    text-align: center;
    padding: 20px;
}

#banner .profile p {
    /* width: 70%; */
    padding-top: 20px;
    font-size: 30px;
    color: var(--primary-color)
}

#banner .profile p strong {
    color: var(--third-color);
    font-weight: 1;
    text-decoration: underline;
}

#banner .profile-img img {
    border-radius: 5px;
    width: 100%;

}

#card {
   
    display: flex;
       justify-content: space-around;
    align-items: center;
        background-image: url(../assets/img/fondo.jpg);
        gap: 20px;
}
#card  h2{
    color: var(--third-color);
}

#card .card-category1,
.card-category2,
.card-category3 {
    height: 300px;
    width: 20%;
    background-color: white;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: baseline;
    font-family: var(--secondary-font-family);
    box-shadow: -2px 1px 9px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: -2px 1px 9px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -2px 1px 9px 0px rgba(0, 0, 0, 0.75);
    transition: 0.2s transform;
    border-radius: 10px;
    padding: 60px;
    cursor: pointer;

    /* transition: 0.1s transform; */
}

#card .card-category1:hover,
.card-category2:hover,
.card-category3:hover {
    transform: scale(1.03);
}

#card .card-category1 {
    background-image: url(../assets/img/fondoauto.png);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;

}

#card .card-category2 {
    background-image: url(../assets/img/motofondo.png);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;

}

#card .card-category3 {
    background-image: url(../assets/img/fondoaccesorios.png);
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
}

a {
    text-decoration: none;
}

#products {
     display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
 
}



#products .galery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-content: center;
    gap: 30px;

}

#products .products-card {
    border: 1px solid black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(219, 219, 219, 0.226);
    height: 100%;
    /* padding: 10px; */
}

#products .products-card-img {
    display: flex;
    justify-content: center;
    align-items: center;
        max-width: 50%;
    min-width: 50%;
    height: 50%;

}

#products .products-card img {
    width: 100%;
    height: 100%;

}

.products-card-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 50%;
}

#products .products-card h3 {
    width: 100%;
    font-family: var(--secondary-font-family);
    color: var(--secondary-color);
    border-radius: 0px;
}

#products .products-card h4 {
    color: rgb(0, 0, 0);
    font-size: 40px;
    padding: 10px;

}

#products .products-card button {
    border: none;
    padding: 10px 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    background-color: black;
    color: var(--primary-color);
    font-size: 25px;
    width: 90%;
    cursor: pointer;
    transition: 0.3s transform;
}

#products .products-card button:hover,
#contact button:hover {
    transform: scale(1.1);
    background-color: black;
    color: var(--secondary-color);

}

#contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

#contact .contact-form {
    padding: 20px;
    margin: auto;
    width: 70%;
    outline: none;
}

#contact .contact-form form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    width: 70%;
    margin: auto;

}

#contact label,
#contact input,
#contact textarea,
#contact button {
    display: block;
    width: 100%;
    padding: 10px 0px;
    font-size: 17px;
    border-radius: 5px;
}

#contact label {
    font-size: 20px;
}

#contact textarea {
    height: 100px;
}

#contact button {
    width: 50%;
    margin: auto;
    transition: 0.3s transform;
    background-color: black;
    color: var(--primary-color);
}

footer {
    height: 200px;
    background-color: rgb(0, 0, 0);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
    padding: 20px;
}

.footer-contact {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: var(--secondary-color);
}

.wsp {
    position: absolute;
    bottom: -70px;
    right: 50px;
}

.wsp img {
    height: 80px;
    background-color: var(--primary-color);
    padding: 30px 0px;
    border-radius: 100%;
    border: 1px solid black;
}


footer i {
    font-size: 30px;
    color: var(--primary-color);

}

footer a {
    margin-left: 10px;
    font-size: 18px;
    color: var(--secondary-color);
}

.skewed {
    width: 0;
    height: 0;
    border-right: 100vw solid transparent;
    border-bottom: 13.8vw solid black;
    margin-top: -13.5vw;

}

@media (max-width:880px) {
    #products .galery {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        justify-content: center;
        gap: 20px;

    }

    #card {

        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;

    }

    #banner {
        display: flex;
        flex-direction: column;
    }

    #card h2 {
        font-size: 30px;
    }

    .wsp {
        bottom: -50px;
        right: 50px;
    }

    .wsp img {
        height: 60px;
        padding: 20px 0px;
    }
      #card .card-category1,
    .card-category2,
    .card-category3 {
        height: 120px;
        width: 70%;
               padding: 60px;
           }
}

@media (max-width:480px) {
    #banner {
        display: flex;
        flex-direction: column;
        justify-content: start;
    }
#banner .profile p{
    font-size: 20px;
}
    #products .galery {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        align-items: center;
        justify-content: center;
        gap: 20px;
        font-size: 10px;
    }
#banner h1{
    font-size: 50px;
}
    #products .products-card {
        height: auto;
    }

    #card .card-category1,
    .card-category2,
    .card-category3 {
        height: 120px;
        width: 60%;
               padding: 30px;
           }
    #card {
        display: flex;
        flex-direction: column;
        gap: 0px;
    }

    #card h2 {
        font-size: 30px;
    }

    .wsp {
        bottom: -40px;
        right: 50px;
    }

    .wsp img {
        height: 40px;
        background-color: var(--primary-color);
        padding: 15px 0px;

    }
    header{
        padding: 0px;
        justify-content: center;
    }
    header img {
        height: 40px;
        width: 60px;
    }
    header nav ul li a{
        font-size: 17px;
    }
    #contact .contact-form form {
              padding: 10px;
        width: 100%;
         
    }
    }
    